@using Kasta.Web.Areas.Admin.Models.User
@using Kasta.Web.Models.Components
@model UserListViewModel

@{
    ViewData["Title"] = "User List - Admin";
    ViewData["CurrentNavItem"] = "admin-user";
    Layout = "_Layout";
}

@await Component.InvokeAsync("Breadcrumb", new BreadcrumbViewComponentModel()
{
    new()
    {
        Text = "Admin"
    },
    new()
    {
        Text = "Users",
        Link = Url.Action("List", "User", new { area = "Admin" }),
        Current = true
    }
})

<div class="card shadow-sm">
    <div class="card-body">
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Username</th>
                    <th>Email</th>
                    <th>2FA</th>
                    <th>Lockout Enabled?</th>
                    <th>Failed Login Attempts</th>
                    @if (Model.SystemSettings.EnableQuota)
                    {
                        <th colspan="2" class="text-center">Limits</th>
                    }
                    <th colspan="2">Storage</th>
                    <th>Theme</th>
                    <th></th>
                </tr>
                    <tr>
                        <th colspan="6"></th>
                        <th>Storage</th>
                        <th>File Size</th>
                        <th>Total</th>
                        <th>File Count</th>
                        <th></th>
                    </tr>
            </thead>
            <tbody>
            @foreach (var user in Model.Users)
            {
                @await Component.InvokeAsync("AdminUserListItem", new AdminUserListItemViewComponentModel()
                {
                    User = user,
                    SystemSettings = Model.SystemSettings,
                    UserFileCount = Model.UserFileCount,
                    UserPreviewFileCount = Model.UserPreviewFileCount,
                })
            }
            </tbody>
        </table>
    </div>
</div>