@using Kasta.Shared.Helpers
@using Kasta.Web.Areas.Admin.Models.System
@using Kasta.Web.Models.Components
@using NeoSmart.PrettySize
@model SettingsComponentViewModel

<form hx-post="@Url.Action("SaveSettingsComponent", "System", new {area = "Admin"})"
      hx-target="this"
      hx-swap="outerHTML"
	  hx-indicator=".htmx-indicator"
      method="post"
      enctype="multipart/form-data">
    @await Component.InvokeAsync("Alert", Model)
    <div class="mb-3 row">
        @await Component.InvokeAsync("FormCheckbox", new FormCheckboxComponentViewModel()
        {
            Id = "enableUserRegister",
            State = Model.SystemSettings.EnableUserRegister,
            Name = nameof(Model.SystemSettings.EnableUserRegister),
            Label = "Enable User Registrations"
        })
    </div>
    <div class="mb-3 row">
        @await Component.InvokeAsync("FormCheckbox", new FormCheckboxComponentViewModel()
        {
            Id = "enableUserRegister",
            State = Model.SystemSettings.EnableEmbeds,
            Name = nameof(Model.SystemSettings.EnableEmbeds),
            Label = "Embed Media"
        })
    </div>
    <div class="mb-3 row">
        @await Component.InvokeAsync("FormCheckbox", new FormCheckboxComponentViewModel()
        {
            Id = "enableLinkShortener",
            State = Model.SystemSettings.EnableLinkShortener,
            Name = nameof(Model.SystemSettings.EnableLinkShortener),
            Label = "Enable Link Shortener"
        })
    </div>
    <hr/>
    <div class="mb-3 row">
        @await Component.InvokeAsync("FormCheckbox", new FormCheckboxComponentViewModel()
        {
            Id = "enableCustomBranding",
            State = Model.SystemSettings.EnableCustomBranding,
            Name = nameof(Model.SystemSettings.EnableCustomBranding),
            Label = "Enable Custom Branding"
        })
    </div>
    <div class="mb-3 row">
        @await Component.InvokeAsync("FormText", new FormTextComponentViewModel()
        {
            Id = "customBrandTitle",
            Value = Model.SystemSettings.CustomBrandingTitle,
            Name = nameof(Model.SystemSettings.CustomBrandingTitle),
            DisplayName = "App Name"
        })
    </div>
    <hr/>
    <div class="mb-3 row">
        @await Component.InvokeAsync("FormCheckbox", new FormCheckboxComponentViewModel()
        {
            Id = "quotaEnable",
            State = Model.SystemSettings.EnableQuota,
            Name = nameof(Model.SystemSettings.EnableQuota),
            Label = "Enable user quota (upload and storage)"
        })
    </div>
    <div class="mb-3 row">
        @await Component.InvokeAsync("FormText", new FormTextComponentViewModel()
        {
            Id = "defaultUploadQuota",
            Value = PrettySize.Bytes(Model.SystemSettings.DefaultUploadQuotaReal ?? 0).ToString(),
            Name = nameof(Model.SystemSettings.DefaultUploadQuota),
            DisplayName = "Default User Upload Quota",
            HelpText = "500KB, 500K, 512M, 5G, 1T, etc..."
        })
    </div>
    <div class="mb-3 row">
        @await Component.InvokeAsync("FormText", new FormTextComponentViewModel()
        {
            Id = "defaultStorageQuota",
            Value = PrettySize.Bytes(Model.SystemSettings.DefaultStorageQuotaReal ?? 0).ToString(),
            Name = nameof(Model.SystemSettings.DefaultStorageQuota),
            DisplayName = "Default User Storage Quota",
            HelpText = "500KB, 500K, 512M, 5G, 1T, etc..."
        })
    </div>
    <hr/>
    <div class="mb-3 row">
        @await Component.InvokeAsync("FormNumber", new FormNumberComponentViewModel()
        {
            Id = Kasta.Web.SystemSettingsProxy.Keys.FileServiceGenerateFileMetadataThreadCount,
            Value = Model.SystemSettings.FileServiceGenerateFileMetadataThreadCountReal,
            Name = nameof(Model.SystemSettings.FileServiceGenerateFileMetadataThreadCount),
            DisplayName = "Maximum amount of threads allowed for file preview generation",
            HelpText = "0: Default, <0: Invalid, >0: Actual thread count"
        })
    </div>
    <div class="mb-3 row">
        @await Component.InvokeAsync("FormCheckbox", new FormCheckboxComponentViewModel()
        {
            Id = Kasta.Web.SystemSettingsProxy.Keys.FileServicePlainTextPreviewSizeLimitEnforce,
            State = Model.SystemSettings.FileServicePlainTextPreviewSizeLimitEnforce,
            Name = nameof(Model.SystemSettings.FileServicePlainTextPreviewSizeLimitEnforce),
            Label = "Enforce Text Preview Size Limit",
            HelpText = "When disabled, any file that can be previewed will be previewed, no matter how big or small it is."
        })
    </div>
    <div class="mb-3 row">
        @await Component.InvokeAsync("FormText", new FormTextComponentViewModel()
        {
            Id = Kasta.Web.SystemSettingsProxy.Keys.FileServicePlainTextPreviewSizeLimit,
            Value = PrettySize.Bytes(Model.SystemSettings.FileServicePlainTextPreviewSizeLimitReal ?? 0).ToString(),
            Name = nameof(Model.SystemSettings.FileServicePlainTextPreviewSizeLimit),
            DisplayName = "Text Preview Size Limit",
            HelpText = "500KB, 500K, 512M, 5G, 1T, etc..."
        })
    </div>
    <div class="mb-3 row">
        @await Component.InvokeAsync("FormCheckbox", new FormCheckboxComponentViewModel()
        {
            Id = Kasta.Web.SystemSettingsProxy.Keys.FileServiceAllowPlainTextPreview,
            State = Model.SystemSettings.FileServiceAllowPlainTextPreview,
            Name = nameof(Model.SystemSettings.FileServiceAllowPlainTextPreview),
            Label = "Enable Text File Preview",
            HelpText = "When disabled, text file previews will never be shown."
        })
    </div>
    <hr/>
    <div class="mb-3 row">
        @await Component.InvokeAsync("FormCheckbox", new FormCheckboxComponentViewModel()
        {
            Id = "enableGeoIP",
            State = Model.SystemSettings.EnableGeoIP,
            Name = nameof(Model.SystemSettings.EnableGeoIP),
            Label = "Enable GeoIP",
            HelpText = "Required for GeoIP Services (accurate timezone detection)"
        })
    </div>
    <div class="mb-3 row">
        @await Component.InvokeAsync("FormText", new FormTextComponentViewModel()
        {
            Id = "geoIPDbLocation",
            Value = Model.SystemSettings.GeoIPDatabaseLocation,
            Name = nameof(Model.SystemSettings.GeoIPDatabaseLocation),
            DisplayName = "GeoIP Database Location",
            HelpText = "Location for Maximind GeoIP Database ([see docs](https://dev.maxmind.com/geoip/)). **Must contain City data for Timezones**."
        })
    </div>
    <hr/>
    <div class="mb-3 row">
        @await Component.InvokeAsync("FormCheckbox", new FormCheckboxComponentViewModel()
        {
            Id = "s3EnablePresignUrl",
            State = Model.SystemSettings.S3UsePresignedUrl,
            Name = nameof(Model.SystemSettings.S3UsePresignedUrl),
            Label = "S3 - Use Presigned Urls",
            HelpText = "**This will expose your S3 Bucket Name** since Kasta only supports directly calling the S3 client to create a signed URL.\n\nAll signed URLs will only last 15min"
        })
    </div>
    <button class="btn btn-success mt-3" type="submit">
        <span class="htmx-indicator spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        Save
    </button>
</form>