<div class="alert alert-warning d-flex align-items-center" role="alert">
    <i class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2"></i>
    <div>
        Database has pending migrations! Please apply them with either <code>dotnet ef database update</code>, or by restarting Kasta.
    </div>
</div>