html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}
.table-inline td {
    padding-right: 1.5rem;
}
.btn-sm {
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
}

.dropzone {
    min-height: 300px;
    border: 2px dashed rgba(255, 255, 255, .3);
    background: 0 0;
    padding: 20px 20px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: right;
}
.text-preview {
    text-align: left;
    vertical-align: top;
    background-color: black;
}
.text-preview pre {
    height: max(calc(70vh - 50px), 200px);
    overflow-y:auto;
    overflow-x:auto;
    padding: 0.5rem;
}
.text-preview pre code {
    padding: 0 !important;
    overflow-x: initial !important;
}
.img-thumbnail {
    max-height: 70vh;
}