html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}

@media (min-width: 1200px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

body {
    margin-bottom: 60px;
}
.table-inline td {
    padding-right: 1.5rem;
}
.btn-sm {
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
}
.htmx-indicator {
    display: none;
    opacity: 0;
    transition: 200ms ease-in;
}
.htmx-request .htmx-indicator {
    display: inherit;
    opacity:1;
    transition: 200ms ease-in;
}
.htmx-request.htmx-indicator {
    display: inherit;
    opacity:1;
    transition: 200ms ease-in;
}

.dropzone {
    min-height: 300px;
    border: 2px dashed rgba(255, 255, 255, .3);
    background: 0 0;
    padding: 20px 20px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: right;
    white-space: nowrap;
}
.text-preview {
    text-align: left;
    vertical-align: top;
    background-color: black;
}
.text-preview pre {
    height: max(calc(70vh - 50px), 200px);
    overflow-y:auto;
    overflow-x:auto;
    padding: 0.5rem;
}
.text-preview pre code {
    padding: 0 !important;
    overflow-x: initial !important;
}
.img-thumbnail {
    max-height: 70vh;
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

a {
    color: #0077cc;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.border-top {
    border-top: 1px solid #e5e5e5;
}
.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

.alert p {
    margin-bottom: 0.25rem;
}
.alert p:last-of-type {
    margin-bottom: 0 !important;
}

.form-text p:last-child {
    margin-bottom: 0;
}

.alert-sm {
    padding: 0.5rem 0.25rem;
    padding-right: 1.75rem;
}
.alert-sm.alert-dismissible .btn-close {
    padding: 0.75rem 0.25rem;
}
ol.breadcrumb {
    border-radius: calc(var(--bs-border-radius) - (var(--bs-border-width)));
    padding: 1rem;
}

tr.bg-warning td,
tr.bg-warning th {
    background-color: rgba(var(--bs-warning-rgb),var(--bs-bg-opacity)) !important;
    color: black;
}

/* fix text being top aligned for provider info in /Identity/Account/Manage/ExternalLogins */
.table td[id^='login-provider'] {
    vertical-align: middle;
}
/* add spacing between buttons in /Identity/Account/Manage/PersonalData */
form#download-data {
    margin-bottom: 0.5rem;
}

.card-header-sm {
    font-size: 16px;
    float: right;
    font-weight: 400;
}

.file-list-img {
    height: 50px;
    max-width: 150px;
    object-fit: scale-down;
}

@media (min-width: 1200px) {
    .file-list-img {
        max-width: 2rem;
    }
}

[data-bs-theme=dark] {
    --bs-body-bg: oklch(14.5% 0 0) !important;
    --bs-secondary-bg: oklch(20.5% 0 0) !important;
}

:root {
    --bs-blue: oklch(54.6% 0.245 262.881) !important;
    --bs-primary: oklch(54.6% 0.245 262.881) !important;
    --bs-secondary: oklch(43.9% 0 0) !important;
    --bs-secondary-color: oklch(43.9% 0 0) !important;
    --bs-secondary-rgb: 82, 82, 82;
    --bs-success: oklch(62.7% 0.194 149.214) !important;
    --bs-success-rgb: 22, 163, 74;
    --bs-danger: oklch(51.4% 0.222 16.935) !important;
    --bs-danger-rgb: 190, 18, 60;
    --bs-warning: oklch(82.8% 0.189 84.429) !important;
    --bs-warning-rgb: 251, 191, 36;
    --bs-primary-border-subtle: oklch(70.7% 0.165 254.624) !important;
    --bs-secondary-border-subtle: oklch(55.6% 0 0) !important;
    --bs-success-border-subtle: oklch(79.2% 0.209 151.711);
    --bs-danger-border-subtle: oklch(64.5% 0.246 16.439) !important;
    --bs-warning-border-subtle: oklch(90.1% 0.076 70.697) !important;
}
.btn-primary {
    color: #fff;
    background-color: var(--bs-blue) !important;
    border-color: var(--bs-primary-border-subtle) !important;
}
.btn-secondary {
    background-color: var(--bs-secondary) !important;
    border-color: var(--bs-secondary-border-subtle) !important;
}
.btn-success {
    background-color: var(--bs-success) !important;
    border-color: var(--bs-success-border-subtle) !important;
}
.btn-danger {
    background-color: var(--bs-danger) !important;
    border-color: var(--bs-danger-border-subtle) !important;
}
.btn-warning {
    background-color: var(--bs-warning) !important;
    border-color: var(--bs-warning-border-subtle) !important;
}

.btn-primary:hover {
    box-shadow: 0 var(--box-shadow-y) var(--box-shadow-spread) var(--bs-primary-border-subtle);
}
.btn-secondary:hover {
    box-shadow: 0 var(--box-shadow-y) var(--box-shadow-spread) var(--bs-secondary-border-subtle);
}
.btn-success:hover {
    box-shadow: 0 var(--box-shadow-y) var(--box-shadow-spread) var(--bs-success-border-subtle);
}
.btn-danger:hover {
    box-shadow: 0 var(--box-shadow-y) var(--box-shadow-spread) var(--bs-danger-border-subtle);
}
.btn-warning:hover {
    box-shadow: 0 var(--box-shadow-y) var(--box-shadow-spread) var(--bs-warning-border-subtle);
}

.nav-pills {
    --bs-nav-pills-link-active-bg: var(--bs-primary) !important;
}
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
    background-color: var(--bs-blue) !important;
    border-color: var(--bs-primary-border-subtle) !important;
}

.btn:hover {
    transition: 100ms;
    --box-shadow-y: 1px;
    --box-shadow-spread: 3px;
}

.breadcrumb {
    border-style: solid;
    border-color: var(--bs-secondary);
    border-width: 1px;
}

.login-page-inputs input:first-of-type {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.login-page-inputs input {
    border-radius: 0;
}
.login-page-inputs input:last-of-type {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.login-page-inputs input:not(:last-of-type) {
    border-bottom: none;
}