html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}
.table-inline td {
    padding-right: 1.5rem;
}
.btn-sm {
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
}
.htmx-indicator {
    display: none;
    opacity: 0;
    transition: 200ms ease-in;
}
.htmx-request .htmx-indicator {
    display: inherit;
    opacity:1;
    transition: 200ms ease-in;
}
.htmx-request.htmx-indicator {
    display: inherit;
    opacity:1;
    transition: 200ms ease-in;
}

.dropzone {
    min-height: 300px;
    border: 2px dashed rgba(255, 255, 255, .3);
    background: 0 0;
    padding: 20px 20px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: right;
    white-space: nowrap;
}
.text-preview {
    text-align: left;
    vertical-align: top;
    background-color: black;
}
.text-preview pre {
    height: max(calc(70vh - 50px), 200px);
    overflow-y:auto;
    overflow-x:auto;
    padding: 0.5rem;
}
.text-preview pre code {
    padding: 0 !important;
    overflow-x: initial !important;
}
.img-thumbnail {
    max-height: 70vh;
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

a {
    color: #0077cc;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.border-top {
    border-top: 1px solid #e5e5e5;
}
.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

.alert p {
    margin-bottom: 0.25rem;
}
.alert p:last-of-type {
    margin-bottom: 0 !important;
}

.form-text p:last-child {
    margin-bottom: 0;
}

.alert-sm {
    padding: 0.5rem 0.25rem;
    padding-right: 1.75rem;
}
.alert-sm.alert-dismissible .btn-close {
    padding: 0.75rem 0.25rem;
}
ol.breadcrumb {
    border-radius: calc(var(--bs-border-radius) - (var(--bs-border-width)));
    padding: 1rem;
}