@using Kasta.Data.Models
@using Kasta.Web.Models
@using Kasta.Web.Models.Components
@model ProfileViewModel

@{
    ViewBag.Title = "Profile";
    Layout = "_Layout";

    var themeValues = new List<FormSelectItem>()
    {
        new()
        {
            Value = "",
            Label = "Default"
        },
        new()
        {
            Value = "dark",
            Label = "Dark"
        },
        new()
        {
            Value = "light",
            Label = "Light"
        },
        new()
        {
            Value = "2010",
            Label = "2010 Theme"
        }
    };
}

<div class="row justify-content-center">
    <div class="col-md-10">
        <div class="card shadow-sm">
            <div class="card-body">
                <form asp-controller="Profile" asp-action="Save" enctype="multipart/form-data">
                    <div class="mb-3">
                        @await Component.InvokeAsync("FormSelect", new FormSelectComponentViewModel()
                        {
                            Name = nameof(Model.Settings.ThemeName),
                            Id = "themeName",
                            Label = "Theme",
                            Multiple = false,
                            Items = themeValues,
                            SelectedValue = string.IsNullOrEmpty(Model.Settings.ThemeName) ? "" : Model.Settings.ThemeName
                        })
                    </div>
                    @await Component.InvokeAsync("FormCheckbox", new FormCheckboxComponentViewModel()
                    {
                        Name = nameof(Model.Settings.ShowFilePreviewInHome),
                        Id = "showFilePreviewInHome",
                        Label = "Show File Preview in File List",
                        State = Model.Settings.ShowFilePreviewInHome,
                        HelpText = "File Previews will still be generated (if possible), but preview images will not be shown in the file list.",
                        Margin = true
                    })
                    <hr/>
                    <button type="submit" class="btn btn-success">Save</button>
                    <hr/>
                    <div class="btn-group">
                        <a asp-controller="Profile" asp-action="GenerateShareXConfig" class="btn btn-primary">Get ShareX Config</a>
                        <a asp-controller="Profile" asp-action="GenerateRustgrabConfig" class="btn btn-primary">Get rustgrab Config</a>
                        <a asp-controller="Profile" asp-action="DeleteAllApiKeys" class="btn btn-danger">Delete all API Keys</a>
                    </div>
                </form>
                <hr/>
                <p>
                    <strong>Note for rustgrab:</strong> The config file provided only has the <code>xbackbone_config</code> property set.
                    Manually copy this into your rustgrab config, or use the "insert" button in the GUI.
                </p>
            </div>
        </div>
    </div>
</div>